pipeline/PL_TSV_2_Parquet.json
{
	"name": "PL_TSV_2_Parquet",
	"properties": {
		"activities": [
			{
				"name": "Parquet_2_Snowflake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Tsv_2_Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "DI_JOB_ID",
								"value": {
									"value": "@pipeline().parameters.DI_JOB_ID",
									"type": "Expression"
								}
							},
							{
								"name": "DI_CREATED_DATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_LS",
							"type": "LinkedServiceReference"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "License_Issue_Date",
									"type": "String"
								},
								"sink": {
									"name": "LICENSE_ISSUE_DATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "License_Number",
									"type": "String"
								},
								"sink": {
									"name": "LICENSE_NUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Animals_Name",
									"type": "String"
								},
								"sink": {
									"name": "ANIMAL_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Species",
									"type": "String"
								},
								"sink": {
									"name": "SPECIES",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Primary_Breed",
									"type": "String"
								},
								"sink": {
									"name": "PRIMARY_BREED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Secondary_Breed",
									"type": "String"
								},
								"sink": {
									"name": "SECONDARY_BREED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ZIP_Code",
									"type": "String"
								},
								"sink": {
									"name": "ZIP_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DI_JOB_ID",
									"type": "String"
								},
								"sink": {
									"name": "DI_JOB_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DI_CREATED_DATE",
									"type": "String"
								},
								"sink": {
									"name": "DI_LOAD_DT",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snowflake",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "PET_LICENSE_STAGE",
							"SchemaName": "DADABI_SCHEMA"
						}
					}
				]
			},
			{
				"name": "Tsv_2_Parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "License_Issue_Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "License_Issue_Date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "License_Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "License_Number",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Animals_Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Animals_Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Species",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Species",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Primary_Breed",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Primary_Breed",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Secondary_Breed",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Secondary_Breed",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ZIP_Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ZIP_Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"DI_JOB_ID": {
				"type": "string",
				"defaultValue": "\"1\""
			}
		},
		"variables": {
			"myFileName": {
				"type": "String",
				"defaultValue": "Seattle_Pet_Licenses_Updated.parquet"
			}
		},
		"annotations": []
	}
}